* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}
body {
 background-color: rgb(9, 129, 129);
 font-family: Tahoma, Arial;
 width: 100%;
 height: 100vh;
 overflow-x: hidden;
 display: flex;
 align-items: center;
 justify-content: center;
}
.container {
 background-color: #fff;
 padding: 2em;
 margin: auto;
 width: 37.5em;
 max-width: 95%;
 border-radius: 0.62em;
 box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, 0.25);
}
.search-wrapper {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 gap: 1.25em;
}
.search-wrapper button {
 font-size: 1em;
 background-color: #3d64e6;
 color: #fff;
 padding: 0.8em 1em;
 border-radius: 1.5em;
 border: none;
 cursor: pointer;
}
.search-wrapper button:hover {
 transition: all 0.3s ease-in-out;
 background-color: #222a43;
}
.search-wrapper input {
 font-size: 1em;
 padding: 0 0.62em;
 border: none;
 border-bottom: 2px solid #3d64e6;
 color: #222a43;
 outline: none;
}
#result {
 margin: 2em auto 0;
}
#result img {
 width: 70%;
 margin: auto;
 display: block;
}
#result h3 {
 text-align: center;
 color: #222a43;
 margin-top: 1.5em;
 margin-bottom: 1.5em;
}
#result h5 {
 color: #222;
 margin: 1em;
}
#result h5 span {
 color: #555;
}
.error {
 color: #ff456a !important;
 font-weight: normal;
 font-size: 1.1em;
}
